@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'reset'; // css variables
$white: #fff;
$black: #000;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  // font-family: Arial, Helvetica, sans-serif;
}
